In [82]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/listings_data.csv")

In [87]:
print("Initial Data Sample:\n")
print(df.head())

print("\nDataset Overview:\n")
print(df.info())

print("\nDescriptive Statistics:\n")
print(df.describe())

print("\nChecking for Missing Values:\n")
print(df.isnull().sum())

Initial Data Sample:

       sqft     price  price/sqft    zip    city state      street_address  \
0  525000.0  525000.0  423.387097  98001  Algona    WA  1036 Algona Blvd N
1  475000.0  475000.0  416.666667  98001  Algona    WA      707 Celery Ave
2  470000.0  470000.0  358.778626  98001  Algona    WA         512 Main St
3  500000.0  500000.0  297.619048  98001  Algona    WA       221 2nd Ave N
4  660000.0  660000.0         NaN  98001  Algona    WA       515 4th Ave N

   bedrooms  bathrooms                                                url  \
0       4.0        4.0  https://www.redfin.com/WA/Algona/1036-Algona-B...
1       3.0        3.0  https://www.redfin.com/WA/Algona/707-Celery-Av...
2       4.0        4.0  https://www.redfin.com/WA/Algona/512-Main-St-9...
3       4.0        4.0  https://www.redfin.com/WA/Algona/221-2nd-Ave-N...
4       NaN        NaN  https://www.redfin.com/WA/Algona/515-4th-Ave-N...

                                                 img
0  https://ssl.cdn-redfin.com/photo/1/islphoto/11...
1  https://ssl.cdn-redfin.com/photo/1/islphoto/29...
2  https://ssl.cdn-redfin.com/photo/1/islphoto/21...
3  https://ssl.cdn-redfin.com/photo/1/islphoto/16...
4  https://ssl.cdn-redfin.com/photo/1/islphoto/20...

Dataset Overview:

<class 'pandas.core.frame.DataFrame'>
Index: 2887 entries, 0 to 3087
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sqft            2887 non-null   float64
 1   price           2887 non-null   float64
 2   price/sqft      2586 non-null   float64
 3   zip             2887 non-null   object
 4   city            2885 non-null   object
 5   state           2887 non-null   object
 6   street_address  2887 non-null   object
 7   bedrooms        2577 non-null   float64
 8   bathrooms       2577 non-null   float64
 9   url             2887 non-null   object
 10  img             2887 non-null   object
dtypes: float64(5), object(6)
memory usage: 270.7+ KB
None

Descriptive Statistics:

               sqft         price   price/sqft     bedrooms    bathrooms
count  2.887000e+03  2.887000e+03  2586.000000  2577.000000  2577.000000
mean   1.293742e+06  1.293742e+06   532.416230     3.303454     3.303454
std    2.283768e+06  2.283768e+06   368.159507     1.575322     1.575322
min    9.995000e+03  9.995000e+03    18.172727     0.000000     0.000000
25%    4.999000e+05  4.999000e+05   351.476629     2.000000     2.000000
50%    7.849500e+05  7.849500e+05   452.342675     3.000000     3.000000
75%    1.299950e+06  1.299950e+06   594.926875     4.000000     4.000000
max    5.800000e+07  5.800000e+07  6352.087114    36.000000    36.000000

Checking for Missing Values:

sqft                0
price               0
price/sqft        301
zip                 0
city                2
state               0
street_address      0
bedrooms          310
bathrooms         310
url                 0
img                 0
dtype: int64

In [84]:
df[["price", "sqft"]] = df[["price", "sqft"]].replace("Unknown", np.nan)
df["zip"].fillna("")
df = df.dropna(subset=["price", "sqft"], how="all")
df = df.drop_duplicates()

In [85]:
df["city"] = df["city"].str.title().str.strip()
df["state"] = df["state"].str.upper().str.strip()

In [ ]:
numeric_columns = ["price", "sqft", "price/sqft", "bathrooms", "bedrooms"]
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors="coerce")

string_columns = ["zip", "street_address", "state", "url", "img"]
for col in string_columns:
    df[col] = df[col].astype(str)
    
df["zip"] = df["zip"].str.replace(".0","", regex=False)