In [36]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/listings_data.csv")

In [47]:
print("Initial Data Sample:\n")
print(df.head())

print("\nDataset Overview:\n")
print(df.info())

print("\nDescriptive Statistics:\n")
print(df.describe())

print("\nChecking for Missing Values:\n")
print(df.isnull().sum())

Initial Data Sample:

     sqft   price  price/sqft      zip    city state      street_address  \
0  1240.0  525000  423.387097  98001.0  Algona    WA  1036 Algona Blvd N
1  1140.0  475000  416.666667  98001.0  Algona    WA      707 Celery Ave
2  1310.0  470000  358.778626  98001.0  Algona    WA         512 Main St
3  1680.0  500000  297.619048  98001.0  Algona    WA       221 2nd Ave N
4     NaN  660000         NaN  98001.0  Algona    WA       515 4th Ave N

   bedrooms  bathrooms                                                url  \
0       4.0        4.0  https://www.redfin.com/WA/Algona/1036-Algona-B...
1       3.0        3.0  https://www.redfin.com/WA/Algona/707-Celery-Av...
2       4.0        4.0  https://www.redfin.com/WA/Algona/512-Main-St-9...
3       4.0        4.0  https://www.redfin.com/WA/Algona/221-2nd-Ave-N...
4       NaN        NaN  https://www.redfin.com/WA/Algona/515-4th-Ave-N...

                                                 img
0  https://ssl.cdn-redfin.com/photo/1/islphoto/11...
1  https://ssl.cdn-redfin.com/photo/1/islphoto/29...
2  https://ssl.cdn-redfin.com/photo/1/islphoto/21...
3  https://ssl.cdn-redfin.com/photo/1/islphoto/16...
4  https://ssl.cdn-redfin.com/photo/1/islphoto/20...

Dataset Overview:

<class 'pandas.core.frame.DataFrame'>
Index: 2887 entries, 0 to 3087
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sqft            2586 non-null   float64
 1   price           2887 non-null   object
 2   price/sqft      2586 non-null   float64
 3   zip             2885 non-null   float64
 4   city            2885 non-null   object
 5   state           2885 non-null   object
 6   street_address  2887 non-null   object
 7   bedrooms        2577 non-null   float64
 8   bathrooms       2577 non-null   float64
 9   url             2887 non-null   object
 10  img             2879 non-null   object
dtypes: float64(5), object(6)
memory usage: 270.7+ KB
None

Descriptive Statistics:

               sqft   price/sqft           zip     bedrooms    bathrooms
count   2586.000000  2586.000000   2885.000000  2577.000000  2577.000000
mean    2229.974865   532.416230  98056.649220     3.303454     3.303454
std     1577.198754   368.159507     73.714294     1.575322     1.575322
min      317.000000    18.172727  98001.000000     0.000000     0.000000
25%     1248.000000   351.476629  98019.000000     2.000000     2.000000
50%     1870.000000   452.342675  98034.000000     3.000000     3.000000
75%     2755.750000   594.926875  98065.000000     4.000000     4.000000
max    30036.000000  6352.087114  99809.000000    36.000000    36.000000

Checking for Missing Values:

sqft              301
price               0
price/sqft        301
zip                 2
city                2
state               2
street_address      0
bedrooms          310
bathrooms         310
url                 0
img                 8
dtype: int64

In [ ]:
df[["price", "sqft"]] = df[["price", "sqft"]].replace("Unknown", np.nan)
df = df.dropna(subset=["price", "sqft"], how="all")
df = df.drop_duplicates()

,sqft,price,price/sqft,zip,city,state,street_address,bedrooms,bathrooms,url,img
0,1240.0,525000,423.387097,98001.0,Algona,WA,1036 Algona Blvd N,4.0,4.0,https://www.redfin.com/WA/Algona/1036-Algona-B...,https://ssl.cdn-redfin.com/photo/1/islphoto/11...
1,1140.0,475000,416.666667,98001.0,Algona,WA,707 Celery Ave,3.0,3.0,https://www.redfin.com/WA/Algona/707-Celery-Av...,https://ssl.cdn-redfin.com/photo/1/islphoto/29...
2,1310.0,470000,358.778626,98001.0,Algona,WA,512 Main St,4.0,4.0,https://www.redfin.com/WA/Algona/512-Main-St-9...,https://ssl.cdn-redfin.com/photo/1/islphoto/21...
3,1680.0,500000,297.619048,98001.0,Algona,WA,221 2nd Ave N,4.0,4.0,https://www.redfin.com/WA/Algona/221-2nd-Ave-N...,https://ssl.cdn-redfin.com/photo/1/islphoto/16...
4,NaN,660000,NaN,98001.0,Algona,WA,515 4th Ave N,NaN,NaN,https://www.redfin.com/WA/Algona/515-4th-Ave-N...,https://ssl.cdn-redfin.com/photo/1/islphoto/20...
...,...,...,...,...,...,...,...,...,...,...,...
3083,NaN,575000,NaN,98077.0,Woodinville,WA,22123 NE 170th Pl,NaN,NaN,https://www.redfin.com/WA/Woodinville/22123-NE...,https://ssl.cdn-redfin.com/photo/1/islphoto/64...
3084,5200.0,5795000,1114.423077,98004.0,Yarrow Point,WA,4229 95th Ave NE,5.0,5.0,https://www.redfin.com/WA/Bellevue/4229-95th-A...,https://ssl.cdn-redfin.com/photo/1/islphoto/27...
3085,7465.0,15750000,2109.845948,98004.0,Yarrow Point,WA,9015 NE 47th St,5.0,5.0,https://www.redfin.com/WA/Yarrow-Point/9015-NE...,https://ssl.cdn-redfin.com/photo/1/islphoto/38...
3086,7830.0,8650000,1104.725415,98004.0,Yarrow Point,WA,4626 95th Ave NE,5.0,5.0,https://www.redfin.com/WA/Bellevue/4626-95th-A...,https://ssl.cdn-redfin.com/photo/1/islphoto/70...
3087,6240.0,17288000,2770.512821,98004.0,Yarrow Point,WA,4644 95th Ave NE,4.0,4.0,https://www.redfin.com/WA/Bellevue/4644-95th-A...,https://ssl.cdn-redfin.com/photo/1/islphoto/58...