In [77]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/listings_data.csv")

In [78]:
print("Initial Data Sample:\n")
print(df.head())

print("\nDataset Overview:\n")
print(df.info())

print("\nDescriptive Statistics:\n")
print(df.describe())

print("\nChecking for Missing Values:\n")
print(df.isnull().sum())

Initial Data Sample:

     sqft   price  price/sqft      zip    city state      street_address  \
0  1240.0  525000  423.387097  98001.0  Algona    WA  1036 Algona Blvd N
1  1140.0  475000  416.666667  98001.0  Algona    WA      707 Celery Ave
2  1310.0  470000  358.778626  98001.0  Algona    WA         512 Main St
3  1680.0  500000  297.619048  98001.0  Algona    WA       221 2nd Ave N
4     NaN  660000         NaN  98001.0  Algona    WA       515 4th Ave N

   bedrooms  bathrooms                                                url  \
0       4.0        4.0  https://www.redfin.com/WA/Algona/1036-Algona-B...
1       3.0        3.0  https://www.redfin.com/WA/Algona/707-Celery-Av...
2       4.0        4.0  https://www.redfin.com/WA/Algona/512-Main-St-9...
3       4.0        4.0  https://www.redfin.com/WA/Algona/221-2nd-Ave-N...
4       NaN        NaN  https://www.redfin.com/WA/Algona/515-4th-Ave-N...

                                                 img
0  https://ssl.cdn-redfin.com/photo/1/islphoto/11...
1  https://ssl.cdn-redfin.com/photo/1/islphoto/29...
2  https://ssl.cdn-redfin.com/photo/1/islphoto/21...
3  https://ssl.cdn-redfin.com/photo/1/islphoto/16...
4  https://ssl.cdn-redfin.com/photo/1/islphoto/20...

Dataset Overview:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3088 entries, 0 to 3087
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sqft            2754 non-null   float64
 1   price           3088 non-null   object
 2   price/sqft      2754 non-null   float64
 3   zip             3086 non-null   float64
 4   city            3086 non-null   object
 5   state           3086 non-null   object
 6   street_address  3088 non-null   object
 7   bedrooms        2745 non-null   float64
 8   bathrooms       2745 non-null   float64
 9   url             3088 non-null   object
 10  img             3071 non-null   object
dtypes: float64(5), object(6)
memory usage: 265.5+ KB
None

Descriptive Statistics:

               sqft   price/sqft           zip     bedrooms    bathrooms
count   2754.000000  2754.000000   3086.000000  2745.000000  2745.000000
mean    2216.454611   530.742554  98057.690862     3.307104     3.307104
std     1549.633388   362.610528     73.266249     1.555123     1.555123
min      317.000000    18.172727  98001.000000     0.000000     0.000000
25%     1248.500000   352.072893  98019.000000     2.000000     2.000000
50%     1870.000000   451.977401  98034.000000     3.000000     3.000000
75%     2732.250000   595.780702  98072.000000     4.000000     4.000000
max    30036.000000  6352.087114  99809.000000    36.000000    36.000000

Checking for Missing Values:

sqft              334
price               0
price/sqft        334
zip                 2
city                2
state               2
street_address      0
bedrooms          343
bathrooms         343
url                 0
img                17
dtype: int64

In [79]:
df[["price", "sqft"]] = df[["price", "sqft"]].replace("Unknown", np.nan)
df["zip"].fillna("")
df = df.dropna(subset=["price", "sqft"], how="all")
df = df.drop_duplicates()

In [80]:
df["city"] = df["city"].str.title().str.strip()
df["state"] = df["state"].str.upper().str.strip()

In [ ]:
df["price"] = df["price"].astype(float)
df["sqft"] = df["price"].astype(float)
df["price/sqft"] = df["price/sqft"].astype(float)

df["bathrooms"] = df["bathrooms"].astype(float)
df["bedrooms"] = df["bedrooms"].astype(float)

df["zip"] = df["zip"].astype(str).str.replace(".0","", regex=False)
df["street_address"] = df["street_address"].astype(str)
df["state"] = df["state"].astype(str)

df["url"] = df["url"].astype(str)
df["img"] = df["img"].astype(str)