In [ ]:
import pandas as pd
import numpy as np
from scipy.stats.mstats import winsorize
import os

df = pd.read_csv(os.path.join('..', 'data', 'raw_listings_data.csv'))

In [ ]:
print("Initial Data Sample:\n")
print(df.head())

Initial Data Sample:

   Square Feet   Price      Zip    City State      Street Address  Bedrooms  \
0       1140.0  473000  98001.0  Algona    WA      707 Celery Ave       3.0
1       1310.0  470000  98001.0  Algona    WA         512 Main St       4.0
2       1680.0  500000  98001.0  Algona    WA       221 2nd Ave N       4.0
3       1240.0  525000  98001.0  Algona    WA  1036 Algona Blvd N       4.0
4          NaN  660000  98001.0  Algona    WA       515 4th Ave N       NaN

   Bathrooms                                                URL  \
0        3.0  https://www.redfin.com/WA/Algona/707-Celery-Av...
1        4.0  https://www.redfin.com/WA/Algona/512-Main-St-9...
2        4.0  https://www.redfin.com/WA/Algona/221-2nd-Ave-N...
3        4.0  https://www.redfin.com/WA/Algona/1036-Algona-B...
4        NaN  https://www.redfin.com/WA/Algona/515-4th-Ave-N...

                                               Image
0  https://ssl.cdn-redfin.com/photo/1/islphoto/29...
1  https://ssl.cdn-redfin.com/photo/1/islphoto/21...
2  https://ssl.cdn-redfin.com/photo/1/islphoto/16...
3  https://ssl.cdn-redfin.com/photo/1/islphoto/65...
4  https://ssl.cdn-redfin.com/photo/1/islphoto/20...

In [ ]:
print("\nDataset Overview:\n")
print(df.info())

Dataset Overview:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2997 entries, 0 to 2996
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Square Feet     2654 non-null   float64
 1   Price           2997 non-null   object
 2   Zip             2995 non-null   float64
 3   City            2995 non-null   object
 4   State           2995 non-null   object
 5   Street Address  2997 non-null   object
 6   Bedrooms        2646 non-null   float64
 7   Bathrooms       2646 non-null   float64
 8   URL             2997 non-null   object
 9   Image           2979 non-null   object
dtypes: float64(4), object(6)
memory usage: 234.3+ KB
None

In [ ]:
print("\nDescriptive Statistics:\n")
print(df.describe())

Descriptive Statistics:

        Square Feet           Zip     Bedrooms    Bathrooms
count   2654.000000   2995.000000  2646.000000  2646.000000
mean    2212.238885  98057.090150     3.309902     3.309902
std     1587.717834     72.132592     1.559153     1.559153
min      317.000000  98001.000000     0.000000     0.000000
25%     1248.000000  98019.000000     2.000000     2.000000
50%     1870.000000  98034.000000     3.000000     3.000000
75%     2703.750000  98068.000000     4.000000     4.000000
max    30036.000000  99809.000000    36.000000    36.000000

In [ ]:
print("\nChecking for Missing Values:\n")
print(df.isnull().sum())

Checking for Missing Values:

Square Feet       343
Price               0
Zip                 2
City                2
State               2
Street Address      0
Bedrooms          351
Bathrooms         351
URL                 0
Image              18
dtype: int64

In [ ]:
string_columns = ["Zip", "Street Address", "State", "URL", "Image", "City"]
for cols in string_columns:
    df[cols]= df[cols].fillna("")

In [ ]:
numeric_columns = ["Price", "Square Feet", "Bathrooms", "Bedrooms"]
for cols in numeric_columns:
    df[cols] = df[cols].replace({"Unknown": np.nan, 0: np.nan})

In [ ]:
df = df.dropna(subset=["Price", "Square Feet"], how="any")
df = df.drop_duplicates()
print(df)

      Square Feet     Price      Zip          City State  \
0          1140.0    473000  98001.0        Algona    WA
1          1310.0    470000  98001.0        Algona    WA
2          1680.0    500000  98001.0        Algona    WA
3          1240.0    525000  98001.0        Algona    WA
6           972.0    369000  98092.0        Auburn    WA
...           ...       ...      ...           ...   ...
2984       5255.0   2950000  98072.0   Woodinville    WA
2993       5200.0   5795000  98004.0  Yarrow Point    WA
2994       7465.0  15750000  98004.0  Yarrow Point    WA
2995       7830.0   8650000  98004.0  Yarrow Point    WA
2996       6240.0  17288000  98004.0  Yarrow Point    WA

                  Street Address  Bedrooms  Bathrooms  \
0                 707 Celery Ave       3.0        3.0
1                    512 Main St       4.0        4.0
2                  221 2nd Ave N       4.0        4.0
3             1036 Algona Blvd N       4.0        4.0
6     6331 Isaac Ave SE Unit D16       2.0        2.0
...                          ...       ...        ...
2984           15335 166th Pl NE       4.0        4.0
2993            4229 95th Ave NE       5.0        5.0
2994             9015 NE 47th St       5.0        5.0
2995            4626 95th Ave NE       5.0        5.0
2996            4644 95th Ave NE       4.0        4.0

                                                    URL  \
0     https://www.redfin.com/WA/Algona/707-Celery-Av...
1     https://www.redfin.com/WA/Algona/512-Main-St-9...
2     https://www.redfin.com/WA/Algona/221-2nd-Ave-N...
3     https://www.redfin.com/WA/Algona/1036-Algona-B...
6     https://www.redfin.com/WA/Auburn/6331-Isaac-Av...
...                                                 ...
2984  https://www.redfin.com/WA/Woodinville/15335-16...
2993  https://www.redfin.com/WA/Bellevue/4229-95th-A...
2994  https://www.redfin.com/WA/Yarrow-Point/9015-NE...
2995  https://www.redfin.com/WA/Bellevue/4626-95th-A...
2996  https://www.redfin.com/WA/Bellevue/4644-95th-A...

                                                  Image
0     https://ssl.cdn-redfin.com/photo/1/islphoto/29...
1     https://ssl.cdn-redfin.com/photo/1/islphoto/21...
2     https://ssl.cdn-redfin.com/photo/1/islphoto/16...
3     https://ssl.cdn-redfin.com/photo/1/islphoto/65...
6     https://ssl.cdn-redfin.com/photo/1/islphoto/86...
...                                                 ...
2984  https://ssl.cdn-redfin.com/photo/1/islphoto/52...
2993  https://ssl.cdn-redfin.com/photo/1/islphoto/27...
2994  https://ssl.cdn-redfin.com/photo/1/islphoto/38...
2995  https://ssl.cdn-redfin.com/photo/1/islphoto/70...
2996  https://ssl.cdn-redfin.com/photo/1/islphoto/58...

[2486 rows x 10 columns]

In [ ]:
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [ ]:
for col in string_columns:
    df[col] = df[col].astype(str)

In [ ]:
df["City"] = df["City"].str.title().str.strip()
df["State"] = df["State"].str.upper().str.strip()
df["Zip"] = df["Zip"].str.replace(".0","", regex=False)

In [ ]:
grouped = df.groupby("City")
Q1 = grouped["Price"].transform(lambda x: x.quantile(0.25))
Q3 = grouped["Price"].transform(lambda x: x.quantile(0.75))
IQR = Q3 - Q1

lower_lim = Q1 - 1.5 * IQR
upper_lim = Q3 + 1.5 * IQR

df["Is_Outlier"] = (df["Price"] < lower_lim) | (df["Price"] > upper_lim)
print(df[df["Is_Outlier"]])

      Square Feet    Price    Zip         City State         Street Address  \
25         3050.0  1598750  98001       Auburn    WA       37242 42nd Ave S
117        5092.0  1780000  98001       Auburn    WA            102 D St SW
163        5880.0  2299950  98092       Auburn    WA  5036 Katherine Ave SE
179        3858.0  1490000  98092       Auburn    WA      12673 SE 287th Ct
181        6407.0  1895000  98092       Auburn    WA      33416 135th Pl SE
...           ...      ...    ...          ...   ...                    ...
2866       7308.0  2075000  98188      Tukwila    WA       15430 40th Ave S
2927       3975.0  5990000  98072  Woodinville    WA         6130 Maltby Rd
2934       8185.0  5995000  98072  Woodinville    WA      24321 75th Ave SE
2945       4140.0  6900000  98077  Woodinville    WA      22819 NE 200th St
2948      11935.0  6350000  98077  Woodinville    WA     16434 246th Ave NE

      Bedrooms  Bathrooms                                                URL  \
25         4.0        4.0  https://www.redfin.com/WA/Auburn/37242-42nd-Av...
117        9.0        9.0  https://www.redfin.com/WA/Auburn/102-D-St-SW-9...
163        4.0        4.0  https://www.redfin.com/WA/Auburn/5036-Katherin...
179        4.0        4.0  https://www.redfin.com/WA/Auburn/12673-SE-287t...
181        5.0        5.0  https://www.redfin.com/WA/Auburn/33416-135th-P...
...        ...        ...                                                ...
2866      16.0       16.0  https://www.redfin.com/WA/Tukwila/15430-40th-A...
2927       4.0        4.0  https://www.redfin.com/WA/Woodinville/6130-Mal...
2934       4.0        4.0  https://www.redfin.com/WA/Woodinville/24321-75...
2945       4.0        4.0  https://www.redfin.com/WA/Woodinville/22819-NE...
2948       6.0        6.0  https://www.redfin.com/WA/Woodinville/16434-24...

                                                  Image  Is_Outlier
25    https://ssl.cdn-redfin.com/photo/1/islphoto/31...        True
117   https://ssl.cdn-redfin.com/photo/1/islphoto/05...        True
163   https://ssl.cdn-redfin.com/photo/1/islphoto/96...        True
179   https://ssl.cdn-redfin.com/system_files/media/...        True
181   https://ssl.cdn-redfin.com/photo/1/islphoto/02...        True
...                                                 ...         ...
2866  https://ssl.cdn-redfin.com/photo/1/islphoto/87...        True
2927  https://ssl.cdn-redfin.com/photo/1/islphoto/64...        True
2934  https://ssl.cdn-redfin.com/photo/1/islphoto/81...        True
2945  https://ssl.cdn-redfin.com/photo/1/islphoto/15...        True
2948  https://ssl.cdn-redfin.com/photo/1/islphoto/21...        True

[150 rows x 11 columns]

In [ ]:
def winsorize_column(group):
    return winsorize(group, limits=(0.05, 0.05))

df["Price"] = grouped["Price"].transform(winsorize_column)
df["Square Feet"] = grouped["Square Feet"].transform(winsorize_column)

In [ ]:
df["Price/Sqft"] = df["Price"] / df["Square Feet"]

In [ ]:
bins = df['Price'].quantile([0, 0.25, 0.5, 0.75, 1.0])

labels = ["Low", "Medium-low", "Medium-High", "High"]

df["Price Category"] = pd.cut(df["Price"], bins=bins, labels=labels, include_lowest=True)

In [ ]:
df = df.drop(columns=["Is_Outlier"])

In [ ]:
print("\nFinal Dataset Overview:")
print(df.info())

Final Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
Index: 2486 entries, 0 to 2996
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Square Feet     2486 non-null   float64
 1   Price           2486 non-null   int64
 2   Zip             2486 non-null   object
 3   City            2486 non-null   object
 4   State           2486 non-null   object
 5   Street Address  2486 non-null   object
 6   Bedrooms        2466 non-null   float64
 7   Bathrooms       2466 non-null   float64
 8   URL             2486 non-null   object
 9   Image           2486 non-null   object
 10  Price/Sqft      2486 non-null   float64
 11  Price Category  2486 non-null   category
dtypes: category(1), float64(4), int64(1), object(6)
memory usage: 235.7+ KB
None

In [ ]:
print("\nFinal Descriptive Statistics:")
print(df.describe())

Final Descriptive Statistics:
        Square Feet         Price     Bedrooms    Bathrooms   Price/Sqft
count   2486.000000  2.486000e+03  2466.000000  2466.000000  2486.000000
mean    2156.715205  1.245129e+06     3.319140     3.319140   518.890508
std     1276.025636  2.085125e+06     1.568948     1.568948   318.028116
min      317.000000  5.000000e+04     1.000000     1.000000    45.454545
25%     1248.000000  5.496000e+05     2.000000     2.000000   345.086092
50%     1870.000000  7.999990e+05     3.000000     3.000000   450.650639
75%     2729.000000  1.299000e+06     4.000000     4.000000   587.810435
max    17599.000000  5.800000e+07    36.000000    36.000000  5290.322581

In [ ]:
print("\nUnique Values in Categorical Columns:")
for col in ['City', 'State', 'Price Category']:
    print(f"\n{col} unique values:")
    print(df[col].value_counts())

Unique Values in Categorical Columns:

City unique values:
City
Auburn              217
Kent                215
Kirkland            190
Bellevue            187
Renton              186
Federal Way         166
Bothell             164
Redmond              99
Woodinville          82
Shoreline            78
Issaquah             76
Black Diamond        62
Des Moines           61
Burien               61
Carnation            56
Duvall               56
North Bend           55
Kenmore              44
Seatac               42
Enumclaw             42
Sammamish            41
Maple Valley         41
Seattle              40
Tukwila              30
Covington            30
Mercer Island        26
Newcastle            25
Snoqualmie Pass      16
Normandy Park        15
Lake Forest Park     14
Medina               12
Snoqualmie           11
Tacoma                7
Milton                6
Pacific               5
Yarrow Point          5
Greenwater            5
Algona                4
Hunts Point           4
Clyde Hill            2
Mill Creek            2
Easton                2
Edgewood              1
Preston               1
Edmonds               1
Skykomish             1
Name: count, dtype: int64

State unique values:
State
WA    2486
Name: count, dtype: int64

Price Category unique values:
Price Category
Medium-High    625
Low            622
Medium-low     621
High           618
Name: count, dtype: int64

In [ ]:
print("\nRemaining Missing Values:")
print(df.isnull().sum())

Remaining Missing Values:
Square Feet        0
Price              0
Zip                0
City               0
State              0
Street Address     0
Bedrooms          20
Bathrooms         20
URL                0
Image              0
Price/Sqft         0
Price Category     0
dtype: int64

In [ ]:
df.to_csv("./Data/cleaned_listings_data.csv", index=False)
print("\nCleaned dataset saved successfully!")

Cleaned dataset saved successfully!